doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/core.css')
        block head
    body
        block content
        script(src='/js/core.js')
        block scripts
