extends layout

block head
    link(rel='stylesheet', href='/css/lobby.css')

block content
    h1.title Welcome to the lobby!

    h2 Worlds:
    each world in worlds
        .world
            p
                | #{world.name} (size:#{world.size}) (players:#{world.playerCount}) 
                a(href=`/world/${world.name}`) Join
    
    button(onclick='createWorld()') New World

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js', integrity='sha512-iqRVtNB+t9O+epcgUTIPF+nklypcR23H1yR1NFM9kffn6/iBhZ9bTB6oKLaGMv8JE9UgjcwfBFg/eHC/VMws+g==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='/js/lobby.js')
